aio-pika
aioredis
anyio
authlib
bcrypt
briefcase
cma
email-validator
fastapi
gunicorn
httpx
httpx
httpx
itsdangerous
matplotlib
mysql
numpy
passlib[bcrypt]
Pillow
pydantic
pydantic-settings
pytest
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-multipart
python-slugify
redis[hiredis]
scipy
starlette
sympy
uvicorn[standard]
websockets